.item-wrapper{
    display: none;
    float: right;
    width: 50%;
    padding: 10px;
}
.item{
    display: block;
    width: 100%;
    border: 1px solid rgba(142,187,211,0.3);
    height: 150px;
    padding: 15px;
    cursor: pointer;
    background-color: white;
    opacity: 0.8;
    transition: border 800ms, opacity 1s;
    border-radius: 3px;
    overflow: hidden;
}
.item:hover{
    border: 1px solid rgba(142,187,211,0.6);
    opacity: 1;
}
.item .text{
    display: inline-block;
    width: 69%;
    vertical-align: middle;
    max-height: 100%;
}
.item .text h3, .item .text h4, .item .text h5{
    margin-bottom: 3px;
}
.item h4{
    margin-top: 8px;
    white-space:normal;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    font-size: 0.9em;
    max-height: 3.6em;
    line-height: 1.2em;
}
.item .image{
    display: inline-block;
    vertical-align: middle;
    width: 30%;
    background-image: url('../images/placeholder-image.png');
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.error{
    display: block;
    text-align: center;
    margin-top: 60px;
    color: #3638b0;
    font-size: 1.4em;
}

@media only screen and (max-width: 1200px){
    .item-wrapper{
        float: none;
        width: 100%;
    }
}

@media only screen and (max-width: 600px){
    .item{ 
        height: auto;
        opacity: 1;
    }
    .item .text{
        display: block;
        width: 100%;
    }
    .item .image{
        display: block;
        margin: 0 auto;
        margin-top: 20px;
        width: auto;
        max-width: 120px;
        max-height: 100px;
        background-image: url('../images/placeholder-image.png');
        padding-bottom: 120px;
    }
}
